- content_for(:aside) do
  %nav
    %ul
      %li= link_to(:new, new_proposal_path)

%h1= Proposal.human_name

%table
  %tr
    %th= Proposal.human_attribute_name(:id)
    %th= Proposal.human_attribute_name(:title)
    %th= Proposal.human_attribute_name(:user)
    %th= Proposal.human_attribute_name(:created_at)
  - @proposals.each do |proposal|
    %tr
      %td= proposal.id
      %td= link_to(proposal.title, proposal)
      %td= proposal.user.name
      %td= l(proposal.created_at, :format => :short)
