%h1= @proposal.title
%h2= @proposal.user.name
%p= @proposal.description

- content_for(:sidebar) do
  %section#votes
    .in_favor
      .wrapper
        .percentage
          = @proposal.votes.count == 0 ? number_to_percentage(0) : number_to_percentage((@proposal.votes.in_favor.count*100) / @proposal.votes.count)
        .count= t('controllers.proposals.votes.in_favor.count', :count => @proposal.votes.in_favor.count)
        
        = simple_form_for([@proposal, Vote.new]) do |f|
          = f.input :value, :as => :hidden, :input_html => { :value => '1' }
          = f.submit t('controllers.proposals.votes.in_favor.action')
    .against
      .wrapper
        .percentage
          = @proposal.votes.count == 0 ? number_to_percentage(0) : number_to_percentage((@proposal.votes.against.count*100) / @proposal.votes.count)
        .count= t('controllers.proposals.votes.against.count', :count => @proposal.votes.against.count)
        
        = simple_form_for([@proposal, Vote.new]) do |f|
          = f.input :value, :as => :hidden, :input_html => { :value => '-1' }
          = f.submit t('controllers.proposals.votes.against.action')
          
    %small= t('controllers.proposals.votes.total', :count => @proposal.votes.count)        

%h2= Comment.human_name
%section#comments
  = render @proposal.comments
  = simple_form_for([@proposal, Comment.new]) do |f|
    = f.input :body
    = f.submit