= content_tag_for(:section, @proposal) do
  %h1= @proposal.title
  %span.state{:class => @proposal.state}= @proposal.state
  %span.user= t('controllers.proposals.user.info', :user_name => @proposal.user.name, :proposal_date => l(@proposal.created_at, :format => :short))
  %span.expiry
    - if @proposal.expired?
      = t("controllers.proposals.expired", :date => l(@proposal.expires_at, :format => :short))
    - elsif @proposal.closed?
      = t("controllers.proposals.closed", :date => l(@proposal.closed_at, :format => :short))
    - else
      = t("controllers.proposals.expires", :date => l(@proposal.expires_at, :format => :short))
  %p= simple_format(@proposal.description)

%section#comments
  - if user_signed_in?
    = simple_form_for([@category, @proposal, Comment.new]) do |f|
      = f.input :body, :label => Comment.model_name.human, :input_html => { :rows => 5 }
      = f.submit :submit
  = render @proposal.comments
    
- content_for(:sidebar) do
  %section#votes
    .in_favor
      .wrapper
        .percentage
          = @proposal.votes.count == 0 ? number_to_percentage(0) : number_to_percentage((@proposal.votes.in_favor.count*100) / @proposal.votes.count)
        .count= t('controllers.proposals.votes.in_favor.count', :count => @proposal.votes.in_favor.count)
        
        - if user_signed_in? && !current_user.votes.where(:proposal_id => @proposal.id).any? && @proposal.open?
          = simple_form_for([@category, @proposal, Vote.new]) do |f|
            = f.input :value, :as => :hidden, :input_html => { :value => '1' }
            = f.submit t('controllers.proposals.votes.in_favor.action')
    .against
      .wrapper
        .percentage
          = @proposal.votes.count == 0 ? number_to_percentage(0) : number_to_percentage((@proposal.votes.against.count*100) / @proposal.votes.count)
        .count= t('controllers.proposals.votes.against.count', :count => @proposal.votes.against.count)

        - if user_signed_in? && !current_user.votes.where(:proposal_id => @proposal.id).any? && @proposal.open?
          = simple_form_for([@category, @proposal, Vote.new]) do |f|
            = f.input :value, :as => :hidden, :input_html => { :value => '-1' }
            = f.submit t('controllers.proposals.votes.against.action')

    %small= t('controllers.proposals.votes.total', :count => @proposal.votes.count)
    - if @proposal.open?
      %p= t('controllers.proposals.votes.needed', :count => @proposal.required_participation)
    - if user_signed_in? && current_user.votes.where(:proposal_id => @proposal.id).any?
      %p= t('controllers.proposals.votes.current_user_vote')
